%table{id: 'word-lists'}
  -@categories.each do |category|
    - count = category.words.count
    %tr
      %td=h "#{category} (#{count} word#{'s' if count != 1})"
      %td
        %a{href: url("/category/#{h_uri(category)}?page=1")} view
        - [:txt, :xml, :json].each do |format|
          %td
            %a{href: url("/category/#{h_uri(category)}.#{format}")}=format
