%h1=h "#{@category} (#{@word_count} word#{"s" if @word_count != 1})"
%p
  %a{href: url("/download/#{h_uri(@category)}.txt")} text
  %a{href: url("/download/#{h_uri(@category)}.xml")} xml
  %a{href: url("/download/#{h_uri(@category)}.json")} json
  %span.note
    -if @word_count == 0
      There doesn't seem to be any words. You should
      %a{href: url("/upload?category=#{h_uri(@category)}")} upload
      some words for this category.
    -else
      =word_threashold
      votes to add
-if @word_count > 0
  %table
    %tr
      %th votes
      %th words
    -@words.each do |word|
      %tr
        %td=word.votes
        %td=h word                                   
  =@words.pager.html.links_full(@page) { |page| url("/view/#{h_uri(@category)}?page=#{page}") }
